* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
  }

  main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #item-1 {
    background-color: steelblue;
    display: flex;
    order: 2;
    width: 60vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  #item-2 {
    background-color: #fe7e02;
    display: flex;
    order: 1;
    width: 20vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  #item-3 {
    background-color: #45525b;
    display: flex;
    order: 3;
    width: 20vw;
    height: 100vh;
    align-items: center;
  }
  
  @media screen and (max-device-width: 1000px) {

    #item-1 {
      order: 1;
      width: 80vw;
      height: 80vh;
      display: flex;
      flex-wrap: wrap;
     
    }
    
    #item-2 {

      order: 3;
      width: 100vw;
      height: 20vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    
    #item-3 {
      order: 2;
      width: 20vw;
      height: 80vh;
      display: flex;
      flex-wrap: wrap;
    }
     }
  @media screen and (max-device-width: 800px) {
    .container {
      display: flex;
    }
    #item-1 {
      width: 100%;
      order: 1;
     
    }
    
    #item-2 {
      width: 50%;
      order: 2;
    }
    
    #item-3 {
      width: 50%;
      order: 3;
  }
   }